*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Dancing Script", cursive;
}
body{
 min-height: 100vh;
 background: linear-gradient(
  360deg,
  rgb(25, 115, 189) ,
  rgb(114, 8, 22) 
);
}
.main{
  border: 1px solid rgb(135, 206, 235);
  width: 440px;
  margin: 150px 440px 0px; 
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 0 30px rgba(135, 206, 235, 5);
  }
.heading h1{
  margin: 10px 20px;
}
.heading span{
  font-size: 31px;
  margin:10px 0px -17px -10px;
}
.toDo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 50px 0 20px;
}
.toDo input{
border-radius: 10px;
border: 0;
outline: 0;
padding: 12px;
font-weight:600;
background-color: rgb(223, 211, 211);
width: 250px;
margin-left: 10px;
}

.toDo input:focus{
  border: 2px solid #fff;
  box-shadow: 0 0 25px rgba(255, 0, 0, 3);
}
.toDo button{
  border-radius: 13px;
  font-weight: 600;
  width: 100px;
  height: 44px;
  cursor: pointer;
  margin-left: 10px;
  background-color: rgb(255, 0, 0);
  font-weight: 900;
  font-size: 20px;
  color: #fff;
}
.toDo button:hover{
   box-shadow: 0 0 25px rgba(255, 0, 0, 3);
   border: 2px solid #fff;
}
.addTasks{
  display: flex;
  align-items: center;
  margin:30px 75px 30px 50px;
  padding: 5px 0 5px 7px;
  background-color: rgb(238, 234, 234);
  border-radius: 7px;
}
.addTasks input{
  border-radius: 70%;
  margin-right: 10px;
}
.addTasks p{
  font-size: 20px;
  margin-right: 150px;
}
.addTasks button{
  border: 0;
  outline: 0;
  background: transparent;
  font-size: 1px;
}